.mainContetnCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrappHome{
  padding: 5% 35%;
  display: flex;
  flex-direction: column;
  @media (max-width: 1200px) {
    padding: 5% 30%;
    }
    @media (max-width: 600px) {
      padding: 5%  20%;
      }
}

.card{
  display: flex;
  gap: 40px;
  margin: 30px;
  height: 360px;
  width: 320px;
  display: flex;
  flex-direction: column;
}
.cardsList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 70px 100px;
justify-content: center;
background-color: rgb(190, 190, 190);
}

.wrappHome{
    display: flex;
  flex-direction: column;
  background-color: rgb(247, 240, 231);
}
