.inputWrapper {
  position: relative;
}

.wrapInput{
  padding: 0px 25px;
  height: 30px;
  border-radius: 3px;
  flex: 1;
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgb(254, 254, 254);
  @media (max-width: 1350px) {
    width: 90%;
      }
  @media (max-width: 400px) {
  width: 70%;
  padding: 0px 25px;
    }

}
.icon {
  position: absolute;
  top: 55%;
  right: 167px; 
  transform: translateY(-50%); 

}
